.container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrap{
  display: flex;
  width: 100%;
  height: 75px;
  align-items: center;
  justify-content: center;
}

.verticalContainer {
width: 100%;

}

  /* Small divider to add space between two buttons */
.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.divider2{
  height: 10px;
  display: inline-block;
}

.center-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#1EAEDB;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}